Flask
fastapi
python-dotenv
textstat
PyPDF2
reportlab
Werkzeug
cmudict
colorama
google-generativeai==0.3.2
google-api-core>=2.17.0,<3.0.0
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos>=1.56.0,<2.0.0
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
joblib
lxml
markdown-it-py
MarkupSafe
mdurl
numpy
pandas
pillow
proto-plus>=1.22.0,<2.0.0
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
Pygments
pyparsing
pyphen
python-dateutil
python-multipart
python-pptx
pytz
PyYAML
requests
rich
rsa
scikit-learn
scipy
setuptools
shellingham
six
sniffio
starlette
structlog
threadpoolctl
tqdm
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchfiles
websockets
wheel
xlsxwriter
zipp
gunicorn
protobuf>=3.20.3,<5.0.0
